# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# =========================
# iOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig

# =========================
# Windows
# =========================
windows/flutter/ephemeral/

# =========================
# Linux
# =========================
linux/flutter/ephemeral/

# =========================
# macOS
# =========================
macos/Flutter/ephemeral/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
*.keystore
*.jks
key.properties

# =========================
# Firebase
# =========================
firebase-debug.log
lib/core/utils/app_keys.dart